@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

* {
    font-family: 'Lora';
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    background-color: #ffa000;

}

.payment {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 90%;
    height: 90%;
    background-color: white;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.payment_product {
    display: flex;
    align-items: flex-end;
    padding: 40px;
    height: 100%;
    background-color: red;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.95)), url("../img/product\ detail-raw\ meat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 30%;
    color: white;
}

.payment_bill {
    padding: 40px;
    height: 100%;
    background-color: white;
}

.price {
    background-color: #ffa000;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    font-size: 22px;
    font-weight: 500;
    border-radius: 2px;
}

h3 {
    color: #ffa000;
    font-weight: 400;
    font-size: 20px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    display: flex;
    justify-content: space-between;
    line-height: 2;
    color: #666;
}

li:nth-last-child(1) {
    color: #ffa000;
}

hr {
    border-color: #ebeaea;
    border-style: dashed;
}

.payment_form input,
select {
    border: none;
    background-color: #e9ecec;
    padding: 15px 10px;

}

.payment_form .form-input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-bottom: 15px;
    border-radius: 2px;
}


.payment_form button {
    width: 100%;
    border: none;
    background-color: #ffa000;
    color: #fff;
    margin: 10px 0;
    padding: 15px 0;
    font-size: 18px;
    border-radius: 2px;
}