@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif', serif;
}
/* Header */

header{
    width: auto;
    height: 60px;
    background-color: rgba(10, 10, 10, 0.2);  
    
}
  .hamburger{
    font: 20px/200% Noto;sans-serif;
    overflow-x: hidden;
  } 

  ul {
    list-style: none;
  }
  /* The menu */
  .menu {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    margin-left: -800px;
    background: #222;
    padding: 15px;
    z-index: 2;
    opacity:0.2;
    /* add the animation*/
    transition: margin 0.8s;
  }
  .nav-list{margin-top: 50px;}
  /* Hide the checkbox */
  input[type="checkbox"] {
    position: fixed;
    left: -9999px;
    opacity: 0;
  }
  
  /* Toggle */
  .nav-toggle {
    display: block;
    position: fixed;
    top: 10px;
    left: 0px;
    height: 32px;
    width: 40px;
    cursor: pointer;
    z-index: 99;
    margin-left: 2%;
    /* add the animation*/
    transition: margin 0.3s;
  }
  
  .nav-toggle span {
    position: relative;
    display: block;
    height: 3px;
    width: 40px;
    background: #8c784b;
    /* add the animation*/
    transition: all 0.4s;
  }
  
  .nav-toggle span:nth-child(2) {
    top: 12px;
  }
  .nav-toggle span:nth-child(3) {
    top: 24px;
  }
  
  /* Toggle moving */
  
  input[type="checkbox"]:checked ~ .nav-toggle {
    margin-right: 200px;
  }
  
  input[type="checkbox"]:checked ~ .nav-toggle span:nth-child(1) {
    top: 12px;
    transform: rotate(45deg);
  }
  
  input[type="checkbox"]:checked ~ .nav-toggle span:nth-child(2) {
    display: none;
  }
  
  input[type="checkbox"]:checked ~ .nav-toggle span:nth-child(3) {
    top: 10px;
    transform: rotate(-45deg);
  }
  
  input[type="checkbox"]:checked ~ .menu {
    margin-left: 0px;
  }
  
  input[type="checkbox"]:checked ~ section {
    margin-right: 200px;
  }
  a {
    color: #8c784b;     
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
  }
  .cart{
    position: fixed;
    width:30px;
    height:30px;
    margin-left: 88%;
    margin-top: 10px;
  }
  /* Footer */
  /* Footer */
  /* Footer */

footer {
    background-color: #777;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    font-style: bold;
    display: inline;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.f1{list-style-type: none;
  display:inline;
  padding: 10px;
 }


/* Tablett */
/* Tablett */
/* Tablett */ 
/* @media only screen and (min-width: 768px) {} */

/* Small Desktop */
/* Small Desktop */ 
/* Small Desktop */
/* @media only screen and (min-width: 960px) {} */



/* Wide Desktop */
/* Wide Desktop */
/* Wide Desktop */ 
@media only screen and (min-width: 1200px) {
  header{
    width: auto;
    height: 60px;
    background-color: rgba(10, 10, 10, 0.1);  }
    
    .hamburger {
      font: 20px/200% Arial, Helvetica, sans-serif;
      overflow-x: hidden;
    }
    ul {
      list-style: none;
    }
    .nav-list{margin-top:50px;}
    /* The menu */
    .menu {
      width: 200px;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      margin-left: -200px;
      background: #222;
      padding: 15px;
      z-index: 2;
      opacity: 0.2;
      /* add the animation*/
      transition: margin 0.3s;
    }
    
    /* Hide the checkbox */
    input[type="checkbox"] {
      position: fixed;
      right: -9999px;
      opacity: 0;
    }
    
    /* Toggle */
    .nav-toggle {
      display: block;
      position: fixed;
      top: 10px;
      left: 0px;
      height: 32px;
      width: 40px;
      cursor: pointer;
      z-index: 99;
      margin-left: 10px;
      /* add the animation*/
      transition: margin 0.3s;
    }
    
    .nav-toggle span {
      position: relative;
      display: block;
      height: 3px;
      width: 40px;
      background:#8c784b;
      /* add the animation*/
      transition: all 0.3s;
    }
    
    .nav-toggle span:nth-child(2) {
      top: 12px;
    }
    .nav-toggle span:nth-child(3) {
      top: 24px;
    }
    
    /* Toggle moving */
    
    input[type="checkbox"]:checked ~ .nav-toggle {
      margin-left: 200px;
    }
    
    input[type="checkbox"]:checked ~ .nav-toggle span:nth-child(1) {
      top: 12px;
      transform: rotate(45deg);
    }
    
    input[type="checkbox"]:checked ~ .nav-toggle span:nth-child(2) {
      display: none;
    }
    
    input[type="checkbox"]:checked ~ .nav-toggle span:nth-child(3) {
      top: 10px;
      transform: rotate(-45deg);
    }
    
    input[type="checkbox"]:checked ~ .menu {
      margin-left: 0px;
    }
    
    input[type="checkbox"]:checked ~ section {
      margin-left: 200px;
    }
    
    a {
      color: #fff;
      width: 100%;
      display: block;
      text-align: center;
      text-decoration: none;
    }
  .cart{
    position: fixed;
    width:30px;
    height:30px;
    margin-left: 95%;
    margin-top: 10px;
  }
  /* Footer */
  /* Footer */
  /* Footer */

footer {
    background-color: #777;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    font-style: bold;
    display: inline;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.f1{list-style-type: none;
  display:inline;
  padding: 10px;
 }
} 




