@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");
* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
}

/* Columns */
.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}

/* Left Column */
.left-column img {
  width: 100%;
  position: absolute;
  right: 3em;
  top: 3em;
  opacity: 0;
  transition: all 0.3s ease;
}

.left-column img.active {
  opacity: 1;
}

/* Right Column */

/* Product Description */
.product-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 14px;
  color: rgb(142, 17, 17);
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #000;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #000;
  line-height: 24px;
}

/* Product Configuration */
.product-info span,
.weight-config span {
  font-size: 12px;
  font-weight: lighter;
  color: #000;
  margin-bottom: 20px;
  display: inline-block;
  font-family: "Lora", serif;
  line-height: 2em;
}

/* Product info */
.product-info {
  margin-bottom: 10px;
}

.weight-choose div {
  display: inline-block;
}

.weight-choose input[type="radio"] {
  display: none;
}

.weight-choose input[type="radio"] + label span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.weight-choose input[type="radio"] + label span {
  border: 1px solid #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.weight-choose input[type="radio"]#399kr/kg + label span {
  background-color: white;
}
.weight-choose input[type="radio"]#499kr/kg + label span {
  background-color: white;
}
.weight-choose input[type="radio"]#599kr/kg + label span {
  background-color: white;
}

.weight-choose input[type="radio"]:checked + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* weight Configuration */
.weight-choose {
  margin-bottom: 10px;
}

.weight-choose button {
  border: 2px solid #e1e8ee;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5e6977;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}

.weight-choose button:hover,
.weight-choose button:active,
.weight-choose button:focus {
  border: 2px solid #86939e;
  outline: none;
}

.weight-config {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}

.weight-config a {
  color: #358ed7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.weight-config a:before {
  content: "?";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474d;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: rgb(185, 148, 75);
  border-radius: 50px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 30px;
  transition: all 0.5s;
}
.cart-btn:hover {
  background-color: rgb(240, 232, 214);
  color: rgb(142, 17, 17);
}

/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    width: 300px;
    right: 8vh;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -55px;
  }
}
